<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Welcome to the TODO List Application. You can take your notes, maintain your
  routine and do many more things with this application.
</p>
<p>
  You can delete your notes by just clicking on the checkbox related to that
  item.
</p>

<%- include("footer") -%>
